@model IEnumerable<BlogSystem.Web.Models.PostViewModels.PostViewModel>

<h2>Latest posts</h2>

<div class="row">
    @if (Model.Count() == 0)
    {
        <div class="col-md-4">
            <p>There are no posts :(</p>
        </div>
    }
    else
    {
        @foreach (var post in Model)
        {
            <div class="col-md-4">
                <h3>@post.Title</h3>
                <p>@post.Content.Substring(0, Math.Min(post.Content.Length, 200))...</p>
                <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id" class="btn btn-success">Read more</a>
            </div>
        }
    }
</div>

