@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div style="text-align: center">
    <h1 class="text-danger">Whoops!</h1>
    <h2 class="text-danger">Looks like things did not go as planned...</h2>
</div>

