@model BlogSystem.Web.Models.PostViewModels.CommentViewModel

<form asp-controller="Post" asp-action="Comment" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>